ul.services-list li > ul > li {
    margin-left: 25px;
    line-height: 25px;
}
ul.services-list li>ul{
	    margin-bottom: 20px;
}
ul.services-list ul li {
    font-weight: 400;
}
ul.services-list > li {
    font-weight: bold;
}