body{
	font-family: "PTSansRegular";
}
.ov{
	overflow:hidden;
}
.main{
    position:relative;
	width: 100%;
    max-width: 1920px;
    margin: auto;
}
.cr{
	width:1200px;
	margin:0 auto;
}
.top{
	height:40px;
	background-color:#ebebeb;
}
.social{
	float:left;
	overflow:hidden;
	list-style:none;
	margin-top: 10px;
}
.social li{
	float:left;
	margin-right:5px;
}
.social li a{
	display:block;
	height:18px;
	width:18px;
	background-image:url(../img/social.jpg);
}
.social li .vk{
	background-position: -21px 0px;
}
.social li .fb{
	background-position: -41px 0px;
    width: 19px;
}
.fl_l{
	float:left;
}
.fl_r{
	float:right;
}
.top .fl_r{
	color:#9f9f9f;
	font-size:0.875em;
	line-height:40px;
}
.header{
	height:120px;
}
.header img{
	float:left;
	margin-top:36px;
}
.nav{
	text-align:center;
	margin-left:105px;
	float:left;
	margin-top:48px;
}
.nav li{
	display:inline-block;
	margin:0 10px;
}
.nav li a{
	color:#666666;
	font-size: 0.875em;
}
.nav li.active > a,.nav > li:hover > a,.frame a:hover,.frame .active{
	color:#2686cd;
	text-decoration:underline;
}
.sub{
	position:relative;
}
.sub:hover .sub_p{
	display:block;
}
.sub_p {
    position: absolute;
    top: 17px;
    left: 0px;
	display:none;
	    z-index: 5555;
}
.frame{
	background-color:#ebebeb;
	padding:12px;
	margin-top:10px;
	width:185px;
}
.frame a{
	display:block;
	text-align:left;
	margin-bottom:9px;
}
.frame a:last-child{
	margin-bottom:0px;
}
.right_num{
	float:right;
	margin-top:32px;
}
.right_num .callback{
	float:right;
}
.show_p{
	color:#545454;
	overflow:hidden;
	font-size:0.875em;
}
.show_p button{
	border:none;
	background-color:#fff;
	text-decoration:underline;
	padding: 0px 12px 0px 3px;
	float:right;
}
.show_p span{
	float:right;
}
.show_p  .tel{
	display:none;
	margin-left:5px;
}
.show_p  .invis{
	display:none;
}
.show_p.active button{
	display:none;
}
.callback{
    background-color: #72bef2;
    color: #fff;
    border-radius: 4px;
    padding: 7px 18px;
    display: inline-block;
	font-size: 0.875em;
    margin-top: 8px;
	text-align: center;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac7fa), color-stop(50%,#7AB2D8), color-stop(51%,#66afe4), color-stop(100%,#5da3da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* W3C */
}
.callback:hover{
	background: #1e5799;
    background: -moz-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65AAD8), color-stop(50%,#5E95BB), color-stop(51%,#5491BD), color-stop(100%,#3A84BD));
    background: -webkit-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -o-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -ms-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: linear-gradient(to bottom, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    cursor: pointer;
}
.modal_div {
 width: 250px;
    text-align: center;
    z-index: 11;
    padding: 5px 10px;
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 8040;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 1px rgba(51, 51, 51, 0.17);
  background-size: 10px;
  background-position: top 8px center;
}
.title_z {
    color: #2686cd;
    font-size: 21px;
    margin-bottom: 13px;
    display: block;
    float: left;
}
.modal_f {
    width: 250px;
    text-indent: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    outline: none;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 136px;
    display: block;
    margin: 0px auto 20px;
}
.modal_div  button {
    width: 180px;
    height: 37px;
    font-family: "PTSansRegular";
    font-size: 19px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    background: #1e5799;
    background: -moz-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac7fa), color-stop(50%,#7AB2D8), color-stop(51%,#66afe4), color-stop(100%,#5da3da));
    background: -webkit-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -o-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -ms-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: linear-gradient(to bottom, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    color: #fff;
    background-size: cover;
}
.help-block {
    font-size: 13px;
    font-family: "PTSansRegular";
    overflow: hidden;
    position: relative;
    text-indent: 0px;
    top: -12px;
	color: #767676;
    text-align: left;
}
.header h4{
    font-size: 22px;
    color: #3895DA;
    margin-left: 35px;
    line-height: 118px;
    float: left;
}
/*end header*/
.iosSlider {
	width: 1920px;
	height: 445px;
}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}			
.iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width: 1920px;
	height: 445px;
	background-position:center;
	background: #fff;
	margin: 0 0 0 0;
}

.iosSlider .slider #item1 {
	background: url(../img/slider.jpg) no-repeat 50% 0;
}

.iosSlider .slider #item2 {
	background: url(../img/slider.jpg) no-repeat 50% 0;
}

.iosSlider .slider #item3 {
	background: url(../img/slider.jpg) no-repeat 50% 0;
}

.iosSlider .slider #item4 {
	background: url(../img/slider.jpg) no-repeat 50% 0;
}

.iosSlider .slider .item .text1 {
	position: absolute;
	top: 30px;
	right: 50%;
	margin-right:-320px;
	opacity: 0;
	filter: alpha(opacity:0);
}

.iosSlider .slider .item .text1 span {
    color: #3f3f3f;
    padding: 0 8px;
    font-family: 'PtSansbold';
    font-size: 26px;
}

.iosSlider .slider .item .text2 {
    position: absolute;
    top: 66px;
    margin-right: -268px;
	opacity: 0;
	filter: alpha(opacity:0);
}

.iosSlider .slider .item .text2 span {
	color: #3f3f3f;
	font: normal 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	
}

.iosSliderButtons {
    position: absolute;
    bottom: 20px;
    right: 50%;
    margin-right: -94px;
    width: 200px;
    height: 10px;
    z-index: 99999999;
}

.iosSliderButtons .button {
    float: left;
    width: 14px;
    border-radius: 50%;
    height: 14px;
    background: #999;
    margin: 0 12px 0 0;
    opacity: 0.25;
    filter: alpha(opacity:25);
	border:1px solid #111;
}

.iosSliderButtons .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity:100);
}
.iosSlider i{
	display:none !important;
}
.beis_rel{
	position:relative;
	overflow:visible;
}
.beis_sl{
    position: absolute;
    right: 50%;
    margin-right: -580px;
    top: -419px;
    background-image: url(../img/beis_sl.png);
    height: 419px;
    width: 323px;
    z-index: 555;
}
#badMessage {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 11px;
    color: #F71111;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'PtSansBold';
}
.benefits{
	text-align:center;
	padding:40px 0px;
}
.b_row{
	display:inline-block;
	margin:0px 20px;
}
.b_row .img{
	background-image:url(../img/benefits.png);
	width:53px;
	height:80px;
	margin:0 auto 3px auto;
}
.b_row span{
	width:100px;
	display:block;
	color:#666666;
	font-size:0.875em;
}
.b_row .b2{
    width: 60px;
    background-position: -168px 0px;
}
.b_row .b3{
	width: 62px;
    background-position: -347px 0px;
}
.b_row .b4{
	width: 64px;
    background-position: -510px 0px;
}
.b_row .b5{
	width: 63px;
    background-position: -682px 0px;
}
.up_heading{
	text-align:center;
	color:#767676;
	font-size:1.3em;
	margin-bottom:18px;
}
.z_slider .cr{
	position:relative;
}

.a_menu{
	position:absolute;
	top:20px;
	left:20px;
	background-image:url(../img/m_menu.png);
	background-repeat: no-repeat;
	z-index:555;
}
.a_menu .rel{
	position:relative;
}
.a_menu .glav{
	color:#767676;
	text-decoration:underline;
	font-size: 0.925em;
	text-indent:22px;
	display:block;
}
.a_menu .sub_usl{
	display:none;
	position:absolute;
	left:0px;
	top:15px;
	z-index:25;
}
.a_menu:hover .sub_usl{
	display:block;
}
.a_menu .frame{
	background-color:#fff;
	box-shadow:1px 1px 1px #ccc;
}
.a_menu .sub_usl .frame a{
	font-size:0.875em;
	color: #666666;
}
#rt-showcase {
  position: relative;
  overflow: hidden;
  width: 100%; }

#iphone {
  width: 1400px;
  height: 732px; }

#webpage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1400px;
  height: 732px;
  margin: -366px 0 0 -700px; }
  #webpage img {
    display: block;
    margin: auto; }

#retina {
  position: absolute;
  display: none;
  width: 240px;
  height: 240px;
  border: 2px solid white;
  border-radius: 120px;
  background: url("../img/loop4.jpg") no-repeat center center #6e6969;
  box-shadow: 0 0 5px #777, 0 0 10px #aaa inset; }

.highlight {
  box-shadow: 0 0 100px #aaa, 0 0 10px #aaa inset !important; }

.highlight .text {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  color: #767676;
  background: none; }
  .highlight .text#ass {
    background-image: url(../img/sprite.png);
    background-position: 0px -140px;
    width: 142px;
    height: 28px;
    background-size: 226px, 188px;
    background-repeat: no-repeat; }
  .highlight .text#stomach {
    background-image: url(../img/sprite.png);
    background-position: 0px -58px;
    width: 210px;
    height: 55px;
    background-size: 226px, 188px;
    background-repeat: no-repeat; }
  .highlight .text#face {
    background-image: url(../img/sprite.png);
    background-position: 0px -168px;
    width: 112px;
    height: 20px;
    background-size: 226px, 188px;
    background-repeat: no-repeat; }
  .highlight .text#boobs {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 226px;
    height: 58px;
    background-size: 226px, 188px;
    background-repeat: no-repeat; }
  .highlight .text#legs {
    background-image: url(../img/sprite.png);
    background-position: 0px -113px;
    width: 151px;
    height: 27px;
    background-size: 226px, 188px;
    background-repeat: no-repeat; }

.blik {
  position: relative;
  top: 0;
  left: 0; }


.oblasty{
	padding-top:35px;
}
.obl_part{
	background-color:#f0f7ef;
	height: 470px;
	background-position:center;
	margin-top:40px;
}
.obl_part .cr{
	position:relative;
	height:356px;
}
.arows{
    position: absolute;
    left: 405px;
    top: 113px;
    width: 432px;
    height: 253px;
    background-image: url(../img/arows.png);
}
.c_dev{
    position: absolute;
    left: 468px;
    top: 30px;
    width: 279px;
    height: 407px;
    background-image: url(../img/c_dev.jpg);
}
.left_sides{
	position:absolute;
	left:182px;
	top:90px;
}
.right_sides{
    left: 835px;
    top: 90px;
    position: absolute;
    color: #fff;
}
.sides div{
	background-color:#80c2f0;
	padding:12px;
	width:200px;
	color:#fff;
	margin-bottom:10px;
	border-radius:4px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac7fa), color-stop(50%,#7AB2D8), color-stop(51%,#66afe4), color-stop(100%,#5da3da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%); /* W3C */
}
.sides div:hover{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65AAD8), color-stop(50%,#5E95BB), color-stop(51%,#5491BD), color-stop(100%,#3A84BD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%); /* IE10+ */
	background: linear-gradient(to bottom, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%); /* W3C */
	cursor:pointer;
}
.sides div span{
    display: block;
    font-size: 1.350em;
    margin-bottom: 2px;
    margin-top: -4px;
}
.sides div p{
	font-size:0.875em;
	width:180px;
}
/*end main page*/

/*begin services part*/
.heading_up{
	border-bottom:1px solid #60a8de;
	padding-bottom:6px;
	margin-bottom:15px;
	overflow: hidden;
}
.heading_up .cr{
	overflow:hidden;
}
.heading_up h1{
	float:left;
	color:#2686cd;
	font-weight:bold;
	font-size:1.2em;
	font-family: "PTSansBold";
}
.heading_up ul{
	float:right;
	overflow:hidden;
	margin-top: 5px;
}
.heading_up ul li{
	float:left;
	font-size:0.875em;
}
.heading_up ul li a {
	color:#4d4d4d;
}
.heading_up ul li a:hover {
	text-decoration:underline;
}
.heading_up ul li:after{
	content:'->';
	margin-left:5px;
	padding-right:5px;
}
.heading_up ul li:last-child:after { 
	content: "";
	margin-left:0px;
	padding-left:0px; 
}
.content {
	float:left;
	width:903px;
	overflow:hidden;
}
.usl_text img{
	width:100%;
	margin-bottom:6px;
}
.serv_ul{
	overflow:hidden;
	margin-bottom:13px;
}
.serv_ul li{
	float:left;
	width:50%;
	font-size:0.875em;
	margin-bottom:8px;
}
.serv_ul li a{
	color:#858585;
}
.serv_ul li.active a{
	color:#207ec6;
	text-decoration:underline;
}
.serv_ul li:hover a{
	text-decoration:underline;
}
.content p{
    font-size: 0.905em;
    line-height: 1.385em;
    color: #a1a1a1;
    font-family: Calibri;
    margin-bottom: 5px;
    text-indent: 15px;
}
.tg  {border-collapse:collapse;border-spacing:0;width:100%;margin:14px 0px 18px 0px;}
.tg td{height:34px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#a1a1a1;}
.tg th{height:34px;font-weight:normal;border-color:#a1a1a1;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.price_bot{
	padding-bottom:4px;
	border-bottom:1px solid #60a8de;
	margin-bottom:5px;
}
.price_bot span{
	color:#1875bd;
	font-family:"PTSansBold";
	font-size:1.2em;
}
.u_aside{
	float:right;
	width:278px;
}
.bf_part{
	background-color:#ebebeb;
	padding:14px;
	margin-bottom:20px;
}
.bf_part p{
    color: #4d4d4d;
    font-family: 'PTSansRegular';
    font-size: 0.895em;
    line-height: 1.2em;
	margin-bottom:12px;
	margin-top:-4px;
} 
.img_bef{
	margin-bottom:-2px;
}
.img_af img {
   width: 252px;
}
/*end services part*/
.about_txt{
	overflow:hidden;
}
.about_txt .date_p{
    margin-top: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}
.about_txt .date_p span{
	float:right;
	color:#4d4d4d;
	font-size:0.875em;
	font-family:Calibri;
}
.about_txt img{
	float:left;
	width: 467px;
	margin-right:15px;
	margin-bottom:3px;
}
.about_txt h6{
    color: #2686cd;
    font-family: 'PTSansbold';
    font-size: 1.15em;
    line-height: 1.1em;
    margin-bottom: 6px;
}
.about_txt .authd{
	color:#4d4d4d;
	font-size:0.975em;
	font-family:Calibri;
	display:block;
	margin-bottom:16px;
}
.about_txt p{
	color:#4d4d4d;
}
.bot_txt{
	border-bottom:1px solid #60a8de;
	padding-bottom:12px;
	margin-bottom:6px;
	margin-top:15px;
}
.bot_txt .heading{
	color:#2686cd;
	font-family:'PTSansbold';
	font-size:1.2em;
	margin-bottom:12px;
	display:block;
}
.c_ul li{
	margin-bottom:10px;
	font-family:Calibri;
	font-size:0.975em;
}
.c_ul li a{
	color:#4d4d4d;
	display:block;
	line-height:1.1em;
	margin-left:14px;
}
.c_ul li a:hover{
	text-decoration:underline;
}
.c_ul li a.active{
	text-decoration:underline;
	color: #2686cd;
}

.c_ul li:before{
	content:'•';
	float:left;
	line-height:1.1em;
	margin-right:5px;
	color:#4d4d4d;
}
.useful{
	padding:12px 14px;
	padding: 12px 14px;
    background-color: #ebebeb;
}
.useful .heading{
	margin-bottom:12px;
	margin-top:2px;
	display:block;
	color:#4d4d4d;
	font-size:0.875em;
}
/*end about*/

/*begin useful info*/
.blog_ul{
	overflow:hidden;
	list-style:none;
}
.blog_ul li{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	width:286px;
}
.blog_ul li:nth-child(3n){
	margin-right:0px;
}
.b_item img{
	width:100%;
	margin-bottom:6px;
}
.b_item a{
	font-family:Calibri;
	font-weight:bold;
	color:#378acc;
	font-size:1.095em;
	margin-bottom:10px;
	display:block;
}
.b_item a:hover{
	text-decoration:underline;
}
/*end useful info*/

/*begin galery*/
.big_gal{
	float:left;
	width:300px;
}
.big_gal img{
	width:100%;
	margin-right:15px;
}
.random li{
    float: left;
    margin-right: 18px;
    width: 139px;
    height: 144px;
    margin-bottom: 13px;
}
.random {
    overflow: hidden;
}
.random li:first-child{
    width: 272px;
    height: 301px;
}
.random li:nth-child(5),.random li:nth-child(9){
	margin-right:0px;
}
.random li img{
	width:100%;
	height:100%;
}
.tabs{
	overflow:hidden;
}
.ul_tab{
	border-bottom:1px solid #60a8de;
	padding-bottom:5px;
	margin-top:10px;
	overflow:hidden;
}
.ul_tab li{
	float:left;
	margin-right:10px;
	border-right:1px solid #ccc;
	padding-right:10px;
	font-family:Calibri;
	font-size:1.1em;
	font-weight:bold;	
}
.ul_tab li span{
	color:#8e8e8e;
	cursor:pointer;
}
.ul_tab li.active span{
	color:#378acc;
}
.gal_tab{
	overflow:hidden;
	margin-top:15px;
}
.gal_tab ul li{
    float: left;
    width: 290px;
    margin-right: 16px;
	margin-bottom:16px;
}
.gal_tab ul li:nth-child(3n){
	margin-right:0px;
}
.gal_tab ul li img{
	width:100%;
}
.as_h{
	border-bottom:1px solid #60a8de;
	padding-bottom:5px;
	display:block;
	font-weight:bold;
	font-family:Calibri;
	font-size:1.3em;
	color:#378acc;
	margin-bottom:12px;
}
.video_h{
	margin:5px 0px 12px 0px;
	color:#2685cc;
	font-size:0.975em;
	font-family:Calibri;
}
/*end galery*/

/*begin contacts*/
.con_ul{
	margin-top:20px;
}
.con_ul li{
	margin-bottom:7px;
	color:#4d4d4d;
	font-size:0.875em;
}
/*end contacts*/

/*begin footer*/
footer{
	margin:30px 0px 16px 0px;
}
footer img{
	float:left;
	margin-right:60px;
	margin-top:5px;
}
footer .f_row{
	float:left;
	border-left:1px solid #9f9f9f;
	padding-left:20px;
	margin-left:20px;
	height:60px;
	padding-top:4px;
}
.f_first{
	width:305px;
}
.f_row span,.f_second ul li a{
	display:block;
	color:#9f9f9f;
	margin-bottom:6px;
	font-size:0.875em;
}
.f_second ul li a:hover{
	text-decoration:underline;
	color: #6cacde;
}
.f_second ul li{
	overflow:hidden;
	width:265px;
}
.f_third a{
	color:#6cacde;
	text-decoration:underline;
}
footer .cr {
    overflow: hidden;
}
/*begin admin part*/
.admin_add h3{
    color: #767676;
    font-size: 1.35em;
    margin-bottom: 18px;
}
.ad_up{
	overflow:hidden;
	border-bottom:1px solid #ccc;
	height: 42px;
    margin-bottom: 15px;
}
.ad_up h2{
    float: left;
    line-height: 48px;
    font-size: 19px;
    color: #767676;
    font-weight: bold;
    font-family: "PTsansBold";
}
.admin label{
	display:block;
	margin-bottom:5px;
	font-size:0.905em;
}
.admin input[type='text'],.admin input[type='password']{
	margin-bottom:15px;
	height:28px;
	width:220px;
	text-indent:10px;
}
.submit input{
    background: #1e5799;
    background: -moz-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac7fa), color-stop(50%,#7AB2D8), color-stop(51%,#66afe4), color-stop(100%,#5da3da));
    color: #fff;
    background: -webkit-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -o-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -ms-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: linear-gradient(to bottom, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    border: none;
    padding: 4px 20px;
    border-radius: 3px;
}
.submit input:hover,.add_b:hover{
	background: #1e5799;
    background: -moz-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65AAD8), color-stop(50%,#5E95BB), color-stop(51%,#5491BD), color-stop(100%,#3A84BD));
    background: -webkit-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -o-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: -ms-linear-gradient(top, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    background: linear-gradient(to bottom, #65AAD8 0%,#5E95BB 50%,#5491BD 51%,#3A84BD 100%);
    cursor: pointer;
}
.add_b{
	font-size: 1.025em;
	float: right;
	background: #1e5799;
    background: -moz-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac7fa), color-stop(50%,#7AB2D8), color-stop(51%,#66afe4), color-stop(100%,#5da3da));
    background: -webkit-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -o-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: -ms-linear-gradient(top, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    background: linear-gradient(to bottom, #7ac7fa 0%,#7AB2D8 50%,#66afe4 51%,#5da3da 100%);
    display: inline-block;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: Calibri;
    font-weight: bold;
}
.services-list > li{
	margin-bottom:8px;
}
.services-list li a:hover{
	text-decoration:underline;
}
.services-list > li  > .l_up{
	margin-bottom:6px;
	font-family:Calibri,sans-serif;
	font-size:1.075em;
	color:#333;
}
.under li {
	font-size:14px;
}
.under li:before {
	content:'-';
	margin-right:5px;
	float:left;
	margin-left:-5px;
}
.admin_add .text label,.admin_add .select label{
    width: 75px;
    float: left;
    line-height: 28px;
}
.admin_add label{
	color: #333;
	font-size: 0.905em;
}
.admin_add .text input{
	height:22px;
	text-indent:10px;
	width: 540px;
}
.admin_add .select select{
	height:28px;
}
.admin_add  div{
	margin-bottom:15px;
}
.admin_add .textarea label{
	margin-bottom:8px;
	display:block;
}
.price_part {
	overflow:hidden;
}
.price_part div {
    float: left;
    margin-right: 20px;
    margin-bottom: 0px;
	overflow:hidden;
}
.price_part div label{
	width: 62px;
    display: block;
    float: left;
    line-height: 25px;
}
.price_part div input{
	text-indent:6px;
}
.admin_del h3{
	color: #767676;
    font-size: 1.35em;
    margin-bottom: 18px;
}
.admin_del a{
	display: inline-block;
    font-size: 0.905em;
    padding: 7px 15px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 1px;
    color: #fff;
    background-color: #3A9DDE;
}
.admin_del a:hover{
	background-color: #2E82B9;
	cursor:pointer;
}
.art_list li{
	margin-bottom:8px;
}
.art_list li a:hover{
	text-decoration:underline;
}
.edit_bot{
	margin-top:15px;
	overflow: hidden;
}
.admin_add .date label{
	width: 70px;
    float: left;
    line-height: 28px;
}
.admin_add .date select{
	height:28px;
	margin:0 5px;
}
.admin_add .date select:first-child{
	margin-left:0px;
}
.bot_r{
	float: right;
    width: 415px;
} 
.input.file label{
	display:block;
	margin-bottom:10px;
	float:none;
}
div#goodMessage {
    margin-bottom: 15px;
}
.galer_a{
	overflow:hidden;
}
.galer_a li {
    float: left;
    width: 440px;
    margin-right: 20px;
	margin-bottom:20px;
}
.galer_a li:nth-child(2n) {
	margin-right:0px;
}
.galer_a li img{
	width:100%;
}
.galer_a li  div{
	margin-bottom:8px;
}
.gall_add .input.select label{
	width: 145px;
}
.blocks tr th{
	padding-bottom: 5px;
}
.blocks .tr_n{
	width:280px;
}
.blocks .tw_n{
	width:208px;
}
.tw_n {
	font-weight:bold;
	font-family:'PTsansbold';
}
.blocks tr a:hover{
	text-decoration:underline;
}
/*end admin part*/




